@import "tailwindcss";
/* GLOBAL STYLES */
/* html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #09090B; 
  color: #FAFAFA;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
} */

/* ROOT: estilos generales y accesibilidad */
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */
  /* color-scheme: dark; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TIPOGRAFÍA Y TEXTO */
/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* BOTONES */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ENLACES */
a {
  font-weight: 500;
  color: #E4E4E7;
  text-decoration: none;
}

a:hover {
  color: #2563EB;
}

/* MODO CLARO (OPCIONAL) */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */
@layer utilities {
  .bg-radial-pattern {
    background-color: #09090B;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:
      radial-gradient(circle at 20% 5%, rgba(163, 163, 163, 0.1) 0%, transparent 8%),
      radial-gradient(circle at 40% 10%, rgba(163, 163, 163, 0.08) 0%, transparent 10%),
      radial-gradient(circle at 25% 25%, rgba(163, 163, 163, 0.1) 0%, transparent 12%),
      radial-gradient(circle at 60% 40%, rgba(163, 163, 163, 0.1) 0%, transparent 15%),
      radial-gradient(circle at 50% 60%, rgba(163, 163, 163, 0.1) 0%, transparent 10%),
      radial-gradient(circle at 90% 80%, rgba(163, 163, 163, 0.12) 0%, transparent 12%),
      radial-gradient(circle at 60% 90%, rgba(163, 163, 163, 0.2) 0%, transparent 18%);
  }

  @media (max-width: 768px) {
    .bg-radial-pattern {
      background-size: 100% 100%;
      background-image:
        radial-gradient(circle at 2% 3%, rgb(75, 73, 73,00.7) 0%, transparent 4%),
        radial-gradient(circle at 75% 8%, rgb(75, 73, 73,00.5) 0%,  transparent 4%),
        radial-gradient(circle at 50% 15%, rgb(75, 73, 73,00.5) 0%, transparent 4%),
        radial-gradient(circle at 20% 25%, rgb(75, 73, 73,00.7) 0%, transparent 5%),
        radial-gradient(circle at 57% 37%, rgb(75, 73, 73,00.7) 0%, transparent 4%),
        radial-gradient(circle at 90% 45%, rgb(75, 73, 73,00.7) 0%, transparent 8%),
        radial-gradient(circle at 30% 60%, rgb(75, 73, 73,00.7)  0%, transparent 10%),
        radial-gradient(circle at 3% 75%, rgb(75, 73, 73,00.7)  0%, transparent 8%),
        radial-gradient(circle at 90% 95%, rgb(75, 73, 73,00.7)  0%, transparent 5%);
        
    }
  }
}
